[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
[packages]
async-patterns = "==0.3b11"
pytest-asyncio = "*"
[dev-packages]
pytest = "*"
"-e ." = "*"
"-e ../async-patterns" = "*"
pytest-cov = "*"
